.overview-widget {
  @apply px-6 pb-6 w-full rounded-md dark:bg-gray-900 flex flex-col;
}

.overview-widget__rows {
  @apply flex flex-col text-sm;
}

.overview-widget__rows-item {
  @apply flex dark:border-gray-700 items-center;
  border-bottom-width: 1px;
}

.overview-widget__name-icon {
  @apply h-7 w-7 rounded-lg bg-gray-800 flex items-center justify-center my-2;
}
